node_modules/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/uploads/*
!public/uploads/.gitkeep

# Virtual Environments
.venv/
venv/
env/
tflite_service/.venv/
tflite_service/venv/
tflite_service/env/
**/__pycache__/
*.pyc
